
  <div class="row ">
    <div class="col-4 p ms-5 d-flex display-grid align-items-center">
      <div class="row">
        <div class="row text-center ">
          <h1>My <a class="color-2128C6">Career</a> So Far</h1>
        </div>
        <div class="row text-center font-size-20 ">
          <p>
            I have worked with businesses helping them create there very own
            identity on web. Developed 7+ projects using Angular,React,
            Bootstrap HTML CSS JS. Created 4+ UI Web app & Mobile app Wireframes
            Currently I am working with an organiztion creating 
            my very own
            impact and learning new things.
          </p>
        </div>
      </div>
    </div>
    <div class="col-1"></div>
    <div class="col-5 align-items-center">
      <div class="row vertical-centre">
        <div class="col display-grid align-items-center">
          <div class="row">
            <div class="col d-flex flex-column align-items-center">
              <div class="d-flex flex-wrap pt-5 mt-5 justify-content-end">
                <div class="col-7 ">
                <button
                  type="button"
                  class="btn btn-outline-primary btn-lg m-2 gap-3 color-2177C6 font-size-15px  "
                  *ngFor="let knowledge of techKnowledge"
                >
                  {{ knowledge }}
                </button>
                <img  src="assets/about/e.png"  height="350" width="400">
                <!-- <a [ngStyle]="{'background':'url('+imageUrl+')'}"></a> -->
               
                <!-- need to figure out  how to align this element -->
              </div>
            </div>
            </div>
           
          
         
        </div>

        <!-- Add more buttons here -->
      </div>
    </div>

    <!-- <div class="container">
    <div class="row">
      <div class="col-12  " style="height: 100vh;">
        <h1>Your Content</h1>
      </div>
    </div>
  </div> -->
  </div>
</div>
