
.display-grid{
    display: grid;
    
    
    
}

.btn{
    height: 37px;
    border-radius: 15px;
    --bs-btn-padding-y: 0px;
}

.font-size-15px{
    font-size: 15px;
}

// .guy-with-rocket{
//     background-image: url("^src/assets/about/e.png");
// }