<div class="row">
  <div class="col-4 ps-5 d-flex align-items-center vertical-centre">
    <div class="row"> 
    <div class="row">
    <h1>My <a class="color-2128C6">Career</a> So Far</h1>
    </div>
      
        <div class="row">
        <p>
          I have worked with businesses helping them create there very own
          identity on web. Developed 7+ projects using Angular,React, Bootstrap
          HTML CSS JS. Created 4+ UI Web app & Mobile app Wireframes Currently I
          am working with an organiztion creating my very own impact and
          learning new things.
        </p>
      </div>
    </div>
    </div>
    <div class="col-8 ps-5 d-flex align-items-center vertical-centre">
        
        <div class="row">
            <span class="btn btn-outline-primary">Angular</span>
          </div>
        
        </div>
  </div>
  <!-- <div class="container">
    <div class="row">
      <div class="col-12  " style="height: 100vh;">
        <h1>Your Content</h1>
      </div>
    </div>
  </div> -->

