<div class="row  ps-5">
  <div class="col-4 ">
    <div class="row">
      <div class="col text-center">
        <h1>Professional<a class="color-2128C6"> Skills</a></h1>
      </div>
      <div class="row pt-4">
        <div class="col text-center font-size-20">
          <p>
            Im a web-designer by Profession Tech-enthusiast by ❤.<br />
            Building Engaging & Minimilistic experiences is what drives me
          </p>
        </div>

        <div class="row"></div>

        <div class="col-3 text-center font-size-35">
          <a class="color-2177C6">{{ javascriptKnowledge + "%" }}</a>
          <p class="pt-4 fw-bold font-size-20">Javascript</p>
        </div>
        <div class="col-3 text-center font-size-35">
          <a class="color-2177C6">{{ angularKnowledge + "%" }}</a>
          <p class="pt-4 fw-bold font-size-20">Angular</p>
        </div>
        <div class="col-3 text-center font-size-35">
          <a class="color-2177C6">{{ htmlCssKnowledge + "%" }}</a>
          <p class="pt-4 fw-bold font-size-20">HTML/CSS</p>
        </div>
        <div class="col-3 text-center align-items-center font-size-35">
          <a class="color-2177C6">{{ bootstrapKnowledge + "%" }}</a>
          <p class="pt-4  fw-bold font-size-20">Bootstrap</p>
        </div>
      </div>
      <p class="text-center font-size-20">
        Being a Tech-Enthusiast is what made me pursue my Engineering in
        Computers. I have experience working with Designing, Developing
        wireframes & converting them into code. What do I work Apart 9 to 5 ? ⬇️
      </p>
      <div class="row">
        <h5>Extra Skills</h5>
        <div class="col-6 py-5">
          <p class=" pb-2" >Figma <a class="text-decoration-none ps-5 ms-5">{{figmaKnowledge}}</a></p>
          <div class=" line figma-skill color-2177C6"></div>
        </div>
        <div class="col-6 py-5">
          <p class="pb-2">React Js <a class="text-decoration-none ps-5">{{reactJsKnowledge}}</a></p>
          <div class=" line react-skill color-2177C6"></div>
        </div>
        <div class="col-6 ">
          <p class=" pb-2">Wordpress     <a class="ps-5  text-decoration-none ">{{wordpressKnowledge}}</a></p>
          <div class=" line wordpress-skill color-2177C6"></div>
        </div>
      </div>
      <div class="row pt-5 d-flex justify-content-around ">
        <div class="col text-center ">  <a  >Want to know more?? Check my <br><a href="www.google.com" class="color-2128C6">Resume 👉🏻</a></a></div>
             <div class="col"><a href="https:/www.google.com/"><img  class="mb-2" src="/assets/work/resume.svg" height="70px" width="70px"></a></div>
        
      </div>
    </div>
  </div>
  <div class="col-8">
    <div class="col text-center">
      <h1>My<a class="color-2128C6"> Experience</a></h1>
    </div>
    <div class="row pt-5">
<img src="/assets/work/guy-climbing.svg" height="700">
    </div>

  </div>
</div>