<div class="row">
  
  
<div class="col-6 ps-5 d-flex align-items-center vertical-centre">
  <div class="row ">
    <div class="row font-size-20">
      <p>Hi There 😺 I’m</p>
    </div>
    <div class="row font-size-40 ">
      <h1>Shivam Mali</h1>
    </div>
    <div class="row font-size-20">
      <p>
        I’m <span class="color-2128C6" >a Frontend Developer</span> Helping to make web<br />
        designs more <span class="color-2128C6">{{ currentWord }}</span>
      </p>
    </div>
  </div>
</div>
<div class="col-6">
    <div class="row vertical-centre">
      <div class="row">
        <p>put your image here</p>
      </div>
    
    </div>
  </div>
</div>